<html lang="en"
			xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
			data-namespace-typo3-fluid="true">

<table class="table">
	<thead>
	<tr>
		<th>Config</th>
		<th>Value</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td><strong>Plugin</strong></td>
		<td>{pluginName}</td>
	</tr>
	<f:if condition="{poiCollectionRecord}">
		<tr>
			<td><strong>POI collection</strong></td>
			<td>{poiCollectionRecord.title} ({poiCollectionRecord.uid})</td>
		</tr>
	</f:if>
	<f:if condition="{pi_flexform_transformed.settings.categories}">
		<tr>
			<td><strong>Categories</strong></td>
			<td>{pi_flexform_transformed.settings.categories}</td>
		</tr>
	</f:if>
	<f:if condition="{pi_flexform_transformed.settings.mapWidth}">
		<tr>
			<td><strong>Size</strong></td>
			<td>{pi_flexform_transformed.settings.mapWidth} * {pi_flexform_transformed.settings.mapHeight}</td>
		</tr>
	</f:if>
	<f:if condition="{pi_flexform_transformed.settings.zoom}">
		<tr>
			<td><strong>Zoom</strong></td>
			<td>{pi_flexform_transformed.settings.zoom}</td>
		</tr>
	</f:if>
	<f:if condition="{pages}">
		<tr>
			<td><strong>Storages</strong></td>
			<td>{pages}</td>
		</tr>
	</f:if>
	</tbody>
</table>
</html>
