<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:m="http://typo3.org/ns/JWeiland/Maps2/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{infoWindowImages}">
    <div class="imagesWrapper">
        <f:for each="{infoWindowImages}" as="infoWindowImage">
            <f:if condition="{infoWindowImage.originalFile}">
                <f:image image="{infoWindowImage}"
                         absolute="1"
                         width="{settings.infoWindowContent.imageWidth}"
                         height="{settings.infoWindowContent.imageHeight}"
                         alt="{infoWindowImage.properties.alternative}"
                         title="{infoWindowImage.properties.title}"/>
            </f:if>
        </f:for>
    </div>
</f:if>

<div class="titleWrapper"><strong>{poiCollection.title}</strong></div>

<div class="addressWrapper">
    <f:for each="{poiCollection.address -> m:trimExplode()}" as="address" iteration="iterator">
        <f:if condition="{iterator.isLast}">
            <f:else>
                <div>{address}</div>
            </f:else>
        </f:if>
    </f:for>
</div>

<f:if condition="{poiCollection.info_window_content}">
    <br/>
    <div class="infoWindowContent">{poiCollection.info_window_content -> f:transform.html()}</div>
</f:if>
</html>
