var coordinatesArray = [];

<f:for each="{poiCollection.pois}" as="area" iteration="iterator">
	var latLng = new google.maps.LatLng({area.latitude}, {area.longitude});
	coordinatesArray.push(latLng);
	<f:if condition="{bound}">bounds.extend(latLng);</f:if>
</f:for>

/*<![CDATA[*/
if (coordinatesArray.length == 0) {
	coordinatesArray.push(mapPosition);
}

var area = new google.maps.Polygon({
	paths: coordinatesArray,
	strokeColor: strokeColor,
	strokeOpacity: strokeOpacity,
	strokeWeight: strokeWeight,
	fillColor: fillColor,
	fillOpacity: fillOpacity
});

area.setMap(map);
/*]]>*/