<html lang="en"
			xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:render section="renderMap" arguments="{data: data, requestUri: requestUri, mapProvider: settings.mapProvider}" />

<f:section name="renderMap">
	<f:flashMessages queueIdentifier="maps2.allowMap" />

	<div id="maps2-{data.uid}">
		<h3>{f:translate(key: '{mapProvider}.map', extensionName: 'maps2')}</h3>
		<p>
			{f:translate(key: '{mapProvider}.protectData', extensionName: 'maps2')}<br />
			{f:translate(key: '{mapProvider}.explainActivation', extensionName: 'maps2')}
		</p>
		<p><a href="{requestUri}">{f:translate(key: '{mapProvider}.activate', extensionName: 'maps2')}</a></p>
	</div>
</f:section>
</html>
