[general]
project     = maps2 (Maps2)
version     = 11.0
release     = 11.0.3
copyright   = since 2013 by jweiland.net
t3author    = Stefan Froemken
description = This TYPO3 extension supports the rendering of a map based on Google Maps or
              OpenStreetMap. The map can be additionally enriched with markers, routes,
              area and radius overlays and these overlays can be grouped into categories
              for easy and recurring assignment.

[html_theme_options]

github_branch        = main
github_repository    = jweiland/maps2

project_contact      = projects@jweiland.net
project_discussions  =
project_home         =
project_issues       = https://github.com/jweiland-net/maps2/issues
project_repository   = https://github.com/jweiland-net/maps2


[extlinks]

issue = https://github.com/jweiland-net/maps2/issues/%s | Issue #


[intersphinx_mapping]

t3coreapi     = https://docs.typo3.org/m/typo3/reference-coreapi/master/en-us/
t3extbasebook = https://docs.typo3.org/m/typo3/book-extbasefluid/master/en-us/
t3tca         = https://docs.typo3.org/m/typo3/reference-tca/master/en-us/
t3tsref       = https://docs.typo3.org/m/typo3/reference-typoscript/master/en-us/

# # TYPO3 official docs
# h2document    = https://docs.typo3.org/m/typo3/docs-how-to-document/master/en-us/
# t3contribute  = https://docs.typo3.org/m/typo3/guide-contributionworkflow/master/en-us/
# t3editors     = https://docs.typo3.org/m/typo3/tutorial-editors/master/en-us/
# t3install     = https://docs.typo3.org/m/typo3/guide-installation/master/en-us/
# t3sitepackage = https://docs.typo3.org/m/typo3/tutorial-sitepackage/master/en-us/
# t3start       = https://docs.typo3.org/m/typo3/tutorial-getting-started/master/en-us/
# t3ts45        = https://docs.typo3.org/m/typo3/tutorial-typoscript-in-45-minutes/master/en-us/
# t3tsconfig    = https://docs.typo3.org/m/typo3/reference-tsconfig/master/en-us/
# t3viewhelper  = https://docs.typo3.org/other/typo3/view-helper-reference/master/en-us/
#
# # TYPO3 system extensions
# ckedit        = https://docs.typo3.org/c/typo3/cms-rte-ckeditor/master/en-us/
# form          = https://docs.typo3.org/c/typo3/cms-form/master/en-us/
# fsc           = https://docs.typo3.org/c/typo3/cms-fluid-styled-content/master/en-us/
# sched         = https://docs.typo3.org/c/typo3/cms-scheduler/master/en-us/
# t3core        = https://docs.typo3.org/c/typo3/cms-core/master/en-us/
# t3dashboard   = https://docs.typo3.org/c/typo3/cms-dashboard/master/en-us/
# workspaces    = https://docs.typo3.org/c/typo3/cms-workspaces/master/en-us/
